<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Играть в Тетрис</title>
    <link rel="stylesheet" href="game.css">
</head>
<body>
    <div class="container">
        <div class="game-layout">
            <div class="leftContainer">
                <div class="nextFigCanContainer">
                    <h2>Следующая фигура:</h2>
                    <canvas id="nextFigureCanvas" width="" height=""></canvas>
                </div>
                <div class="instructions">
                    <h2>Управление:</h2>
                    <p>⬅️ Стрелка влево - сдвинуть фигуру влево</p>
                    <p>➡️ Стрелка вправо - сдвинуть фигуру вправо</p>
                    <p>⬇️ Стрелка вниз - уронить фигуру</p>
                    <p>⬆️ Стрелка вверх - повернуть фигуру</p>
                </div>
                <div class="btn-container">
                    <a href="index.html" class="btn">Вернуться на главную</a>
                </div>
            </div>
            <canvas id="gameCanvas" width="" height=""></canvas>
            <div class="rightContainer">
                <h2 class="labelName">Имя игрока</h2>
                <div class="specLabel"><h2 id="usernameLabel"></h2></div>
                <h2 class="labelName">Очки</h2>
                <div class="specLabel"><h2 id="scoreLabel">0</h2></div>
                <h2 class="labelName">Уровень</h2>
                <div class="specLabel"><h2 id="levelLabel">0</h2></div>
            </div>
        </div>
    </div>

    <script type="module" src="logic.js"></script>
</body>
</html>
