* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    background-color: #000;
    color: #fff;
    padding: 20px;
}

.container {
    text-align: center;
    background-color: #222;
    padding: 20px;
    border: 5px solid #09f;
    border-radius: 10px;
    width: 70%;
    margin: auto;
    overflow: hidden;
}

h1 {
    font-size: 3rem;
    color: #09f;
    text-shadow: 0 0 10px #09f, 0 0 20px #09f;
    margin-bottom: 20px;
}

.game-layout {
    display: flex;
    gap: 20px;
    flex-direction: row;
}

canvas {
    background-color: #111;
    border: 2px solid #09f;
}


#gameCanvas{
    width: 33%;
}


.leftContainer{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 33%;
    height: 100%;
    align-self: flex-start;
}


.nextFigCanContainer{
    display: flex;
    border: 3px solid #09f;
    border-radius: 10px;
    padding-top: 10px;
    flex-direction: column;;
}


#nextFigureCanvas{
    align-self: center;
    margin: 20px;
}


.instructions{
    text-align: left;
    margin-top: 20px;
}


.instructions h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}


.instructions p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}


.specLabel{
    border: 3px solid #09f;
    border-radius: 10px;
    align-self: center;
    padding: 10px;
}


.rightContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 33%;
    align-self: center;
    gap: 20px;
}

.btn {
    background-color: #09f;
    color: #000;
    text-decoration: none;
    padding: 10px;
    margin: 20px 0;
    font-size: 1.2rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: inline-block;
}

.btn:hover {
    background-color: #0ff;
}

.btn:active {
    background-color: #06c;
}

.btn-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: auto;
}